.background {
  background-image:  url("./background_photo.jpg");
  background-size:  cover;
  background-position: center;
  background-repeat:  no-repeat;
  height:  550px;
  margin: -15px;

}

.name {
  font-size:  3em;
  color: white;
  font-family:  arial;
}
.subheader {
  color: white;
  font-family:  arial;
  font-size:  2em;
}
